
.pizzaWrapper {
    padding: 0 100px 0 50px;
    display: flex;
}

.pizzaImg {
    width: 350px;
    height: 350px;
}

.pizzaDescr {
    width: 450px;
    margin-left: 50px;
}

.pizzaText {
    margin-top: 10px;
}

.pizzaButtons {
    margin-top: 10px;
}