.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: relative;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    min-height: 150px;
    width: 450px;
}

.modalClose {
    position: absolute;
    top: 10px;
    right: -35px;
}

.modalInput {
    display: block; 
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    height: 40px;
    padding: 16px;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 233);
}

.modalInputError {
    border: 1px solid rgb(237, 67, 55);
}

.checkLabel {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
}

.modalSpinner {
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loadingContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalError {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
}